@charset "utf-8";
html,body{height:100%; font-size:16px; letter-spacing: -1px; }
:lang(en) body{letter-spacing: 0;}
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;  font-family:'Noto_kr', sans-serif; font-weight:400}
body{line-height:1.15; color:#444; font-family:'Noto_kr',sans-serif; font-weight:400}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; -webkit-font-smoothing:antialiased; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; font-family: 'Noto_kr',sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal; font-weight:normal}
hr{display:block; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; height:1px; border:0; border-top:1px solid #ebebeb; margin:.5em 0 .7em; padding:0; overflow:visible;}
a{background:transparent; text-decoration:none; color:inherit;}
b, strong{font-weight:700;}

legend,caption{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0); *display:none;}

#skip-navi {overflow:hidden;position:relative;width:100%;z-index:1000}
#skip-navi a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;line-height:0;text-align:center}
#skip-navi a:focus, #accessibility a:hover, #accessibility a:active {width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#00aeef;line-height:1;color:#fff;}

/**************
 Common 
***************/
.blind{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0);}
.hide{display:none;}
.v-hidden{visibility:hidden;}

.clearfix:after{clear: both; display: block; content: ""}
.clearfix{display:block; clear: both }

.fl { float:left !important }
.fr { float:right !important }
.fc { clear:both !important }

.tl { text-align:left !important }
.tr { text-align:right !important }
.tc { text-align:center !important }

.web_view{display:block;}
.mo_view{display:none;}

@media (max-width:768px) {
	html,body{font-size:14px;}
	
	.web_view {display:none !important}
	.mo_view {display:block !important}
}

.mt30{margin-top:30px !important;}

.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb50{margin-bottom:50px !important;}

.mr10{margin-right:10px}
.ml20{margin-left:20px}

.tc{text-align:center}


#intro {background:#f7f5f3; height:47vh; text-align: center;}
.introWrap{ position:relative;}

.intro_con{height:100%;width:auto;margin:0 auto}/*width:940px;*/

.intro_con h1{padding:100px 0 20px 0}
.intro_con .tit{color:#3d3d3d;display:block;font-weight:600;font-size:17px;line-height:22px;margin-bottom:15px;}
.intro_con .tit2{display:inline-block;background:#ee3f3f;color:#fff;padding:8px 30px;margin-bottom:50px;font-weight:600;font-size:23px;word-break:keep-all}
.intro_con .tit3{margin-bottom: 3rem; padding: 0 30px; word-break:keep-all}
.intro_con .tit3 a {display:inline-block; background:#ff575b; color:#fff; padding: 10px 25px; border-radius:5px; white-space:nowrap; font-size:0.9rem; margin-top: .8rem}

.intro_con .intro_list{}
.intro_con .intro_list li{width:31.5%;margin:0 1.5% 20px 1.5%;border-radius:10px;overflow:hidden;border:1px solid #ccc;box-shadow:0px 0px 20px rgba(0,0,0,0.3);background:#fff;display:inline-block}/*width:30%;float:left*/
.intro_con .intro_list li .img{overflow:hidden;max-height:267px}
.intro_con .intro_list li img{-webkit-transform:scale(1); transform:scale(1);-webkit-transition:.7s ease-in-out;transition:.7s ease-in-out; z-index:110;width:100%}
.intro_con .intro_list li:hover img{ opacity:1; -webkit-animation:flash 0.7s; animation:flash 0.7s; -webkit-transform:scale(1.1); transform:scale(1.1);}
.intro_con .intro_list .txt {display:table; width:100%; height:170px; padding:5px 10px;word-break:keep-all}
.intro_con .intro_list .txt > div {display:table-cell; vertical-align: middle;}
.intro_con .intro_list .txt h2 {font-size:1.5rem; margin-bottom:10px; word-break: keep-all;}
.intro_con .intro_list .txt p {font-size:1em; color:#666; margin-bottom:25px;}
.intro_con .intro_list .txt h3{font-size:1.2rem; margin-bottom:5px; word-break: keep-all;background:url(images/blist_icon1.gif) no-repeat 10px 0.5rem;padding-left:18px; text-align:left}
.intro_con .intro_list .txt p.ex{ margin-bottom:10px; text-align:left; margin-left:18px}
.intro_con .intro_list .txt .endguid h2 {font-size:1.2rem; text-align: left; word-break: break-all; padding: 0 1.5%;}
.intro_con .intro_list .txt .endguid p {padding: 0 4%; text-align: left;margin-bottom:10px}
.intro_con .intro_list .txt .endguid p strong {color: #e00a25;}
.intro_con .intro_list .txt a {display:inline-block; background:#ff575b; color:#fff; padding: 10px 25px; border-radius:5px; line-height:1; white-space:nowrap; font-size:0.9rem;}
.intro_con .intro_list li ul{margin-bottom:10px}
.intro_con .intro_list li li{float:none;width:97%;border:none;box-shadow:none;border-radius:0;margin:0 1.5%;display:table;text-align:left;background:url(images/blist_icon1.gif) no-repeat 0 0.5rem;padding-left:8px;}
.intro_con .intro_list li li:first-child{margin-bottom:3px}
.intro_con .intro_list li li span{display:table-cell;}
.intro_con .intro_list li li span:nth-child(1){width:60%;text-align:left}
.intro_con .intro_list li li span:nth-child(2){width:40%;text-align:right}
.intro_con .intro_list:after{clear:both;content:"";display:block;}

.intro_con .intro_list .item4 .txt a{padding:10px 15px;margin-bottom:3px}
.item3 h2{font-size:1.4rem !important;}

.copy{margin:70px 0 30px}

.btn_find {
    display: inline-block;
    width: 180px;
    height: 46px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    background-color: #fae100;
    color: #000;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: -1px;
    cursor: pointer;
}


input[type="text"] { 
  background-color: #f7f5f3;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: auto; /* 높이 초기화 */ 
  line-height: normal; /* line-height 초기화 */ 
  padding: .8em .5em; /* 여백 설정 */ 
  color: #000;
  cursor: text;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}


@media all and (max-width:1280px){

#intro {height:35vh;}


.intro_con h1{padding:30px 0}
.intro_con h1 img{width:180px}

.intro_con .intro_list{width:95%;margin:0 auto}
.intro_con .intro_list li .img{width:100%;margin:0 auto}
.intro_con .intro_list li .img img{width:100%;}
.intro_con .intro_list li li span{display:inline-block;}
.intro_con .intro_list li li span:nth-child(1){margin-bottom:2px;width:auto;text-align:center}
.intro_con .intro_list li li span:nth-child(2){width:auto ;text-align:center}

}

@media all and (max-width:1024px){



}

@media all and (max-width:950px){

#intro {height:25vh;}
.intro_con{width:100%}
.intro_con .tit{display:none}
.intro_con .tit2{margin-bottom:5%;font-size:20px}
.intro_con .intro_list li{width:46%}/*width:47%*/
.intro_con .intro_list li .img{max-height:320px}
.intro_con .intro_list .txt{height:168px}
.intro_con .intro_list .txt h2{margin-bottom:15px}

.intro_con .intro_list li li span{display:table-cell;}
.intro_con .intro_list li li span:nth-child(1){width:60%;text-align:left}
.intro_con .intro_list li li span:nth-child(2){width:40%;text-align:right}

.copy{margin:30px 0}

}

@media all and (max-width:600px){

.item3 p span{display:block}

.item5 h2{font-size:1.2rem !important}

.intro_con .intro_list li li span{display:inline-block;}
.intro_con .intro_list li li span:nth-child(1){margin-bottom:2px;width:auto;text-align:center}
.intro_con .intro_list .txt .endguid p {margin-bottom: 0;}

}

@media all and (max-width:480px) {
.intro_con .intro_list .txt .endguid h2 {font-size: 1.1rem; margin-bottom: 5px;}
.intro_con .intro_list .txt h2{margin-bottom:10px}
.item3 p, .item4 p{display:none}
.intro_con { padding: 0 1rem;}
.intro_con .intro_list li { width: 90%;}

@media (max-width:420px) {
#intro {height:37vh;}
.intro_con .intro_list .txt p{margin-bottom:10px}
}